@using Virrum.Web.Content.resources
@model Virrum.Person.Models.PersonDto

@{
    ViewBag.Title = "PersonDetails";
}

<div class="panel panel-default" data-viewmodel="Person/Scripts/PersonVM" data-model="@Json(Model)">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <h4 class="panel-title">
                    @Model.Name
                </h4>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger pull-right" data-bind="click: deletePerson">@*<i class="close-icon">*@</i>Slett</a>
                <a class="btn btn-default pull-right" href="#/PersonEdit/@Model.Id">Endre</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Stilling</label>
                        <div class="col-md-9"><p class="form-control-static" data-bind="text: positions"></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
