@model Virrum.Person.Models.PersonDto

@{
    ViewBag.Title = "PersonEdit";
}

<div class="panel panel-default" data-viewmodel="Person/Scripts/PersonVM" data-model="@Json(Model)">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h4 class="panel-title">
                    @Model.Name
                </h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Navn</label>
                        <div class="col-md-6">
                            <input type="text" data-bind="value: name, valueUpdate: 'afterkeydown'" />
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" class="btn btn-success pull-right" data-bind="click: savePerson" value="Lagre" />
            </div>
        </div>
    </div>
</div>
