@model Virrum.Person.Models.PersonDto

@{
    ViewBag.Title = "PersonDetails";
}

<div class="panel panel-virrum">
    <div class="panel-heading">
        <h4 class="panel-title">
            Bruker @Model.Name
        </h4>
        <a class="btn btn-default pull-right" href="#/PersonEdit/@Model.Id">Endre</a>
    </div>
</div>
