@model Virrum.Web.Features.Person.Models.PersonsListDto

<div data-viewmodel="Person/Scripts/PersonListVM" data-model="@Json(Model)">
    <div class="row">
        <div class="col-md-12">
            <form class="form-group">
                <div class="btn-group btn-group-sm">
                    <a class="btn btn-default" data-bind="click: newPerson">Ny Person</a>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-virrum">
                <div class="panel-heading">
                    <input type="search" class="form-control" placeholder="Filter..." data-bind="value: searchtxt, valueUpdate: 'afterkeydown'" />
                </div>
                <div class="panel-body">
                    <table class="table table-virrum table-borderless">
                        <tbody data-bind="foreach: filteredPersons ">
                            <tr class="clickable" data-bind="css: {active: isSelected}">
                                <td data-bind="click: selectPerson, text: name"></td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="text-center" data-bind="visible: filteredPersons().length == 0">Ingen funnet</p>
                </div>
            </div>
        </div>

        <div class="col-md-9" data-outlet>
            <script type="text/page-template" id="index">
            </script>
        </div>
    </div>
</div>
