@model Virrum.Web.Features.Home.Models.UsersDto

<div data-viewmodel="Home/Scripts/HomeVM" data-model="@Json(Model)">
    <div class="row">
        <div class="well">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="search" class="form-control" placeholder="Filter..." data-bind="value: searchtxt, valueUpdate: 'afterkeydown'" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>