@model Virrum.Users.Models.UserDto

@{
    ViewBag.Title = "UserDetails";
}

<div class="panel panel-virrum">
    <div class="panel-heading">
        <h4 class="panel-title">
            Bruker @Model.Name
        </h4>
    </div>
</div>
